.search-location {
  display: flex;
  align-items: center;
  min-height: 4rem;
  overflow: hidden;
  background-color: $white;
  border-radius: $input-border-radious;
  width: 100%;

  span {
    @extend .input-icons;
  }

  &:focus-within,
  &:focus {
    @extend .inserted;
    box-shadow: 0 0 0 3px rgb(18 115 196 / 24%);
  }

  label {
    transition: transform 0.3s ease-in;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;

    transform: translateY(11px);
    -webkit-transform: translateY(11px);
    -moz-transform: translateY(11px);
    -ms-transform: translateY(11px);
    -o-transform: translateY(11px);
  }

  &.inserted {
    @extend .inserted;
  }
}
