//breakpoints
$desktop: 1024px;
$mobile: 576px;

// Fonts
//sizes
$normal: 16px;
$small: 12px;
$large: 40px;
$big: 20px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 300;

//line height
$input-line-height: 24px;
$title-line-height: 28px;

// Input dorder
$input-border-radious: 5px;
